version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 1
    cooldown:
      default-days: 7
  - package-ecosystem: cargo
    directory: "/web/mastosan"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "10:00"
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7
