[Unit]
Description=dnsd

[Service]
Environment=PORT=53
Environment=FORWARD_SERVER=1.1.1.1:53
ExecStart=/usr/local/bin/dnsd -zone-file https://host.domain.tld/path/to/your.zone -zone-file https://host.domain.tld/path/to/adblock.zone
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
