{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>{{.Title}}</title>
    <style>
        [x-cloak] {
            display: none
        }
    </style>
    <script src="/static/alpine.js" defer></script>
</head>

<body class="flex items-start justify-center h-full bg-gray-50">
    <div class="w-full max-w-4xl px-2">
        <nav class="my-4">
            <a class="font-semibold underline text-gray-900 hover:text-gray-500" href="/">sanguisuga</a> - <a
                class="font-semibold underline text-gray-900 hover:text-gray-500" href="/anime">Anime</a> - <a
                href="/tv" class="font-semibold underline text-gray-900 hover:text-gray-500" href="/tv">TV</a>
        </nav>
        {{end}}

        {{define "footer"}}
        <footer class="mt-2 bg-neutral-200 text-center dark:bg-neutral-700 lg:text-left">
            <div class="p-4 text-neutral-700 dark:text-neutral-200">
                From <a class="text-neutral-800 dark:text-neutral-400" href="https://within.website">Within</a>.
            </div>
        </footer>
    </div>
</body>

</html>
{{end}}
