{{template "header"}}
<title>sanguisuga</title>

<h1 class="mb-2 mt-0 text-3xl font-medium leading-tight text-primary">
    sanguisuga
</h1>

<p class="mt-4 max-w-xl">Welcome to sanguisuga. This is a tool that will help you leech content from private trackers
    and XDCC bots. The following options are available:</p>

<ul class="list-disc list-inside mt-4">
    <li><a class="font-semibold underline text-gray-900 hover:text-gray-500" href="/anime">Anime</a></li>
    <li><a class="font-semibold underline text-gray-900 hover:text-gray-500" href="/tv">TV</a> (western TV)</li>
</ul>

<p class="my-4 max-w-xl">Thank you for following the development of sanguisuga.</p>

{{template "footer"}}