{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="https://cdn.xeiaso.net/static/pkg/xess/xess.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body id="top">
        <main>
            <h1>{{.Title}}</h1>
{{end}}

{{define "footer"}}
            <footer>
                <p>Need help with these packages? Inquire <a href="https://github.com/Xe">Within</a>.</p>
            </footer>
        </main>
    </body>
</html>
{{end}}
