{{template "header" .}}

<p>Hello, if you are reading this, you have found this URL in your access logs.</p>

<p>If one of these programs is doing something you don't want them to do, please <a href="https://xeiaso.net/contact">contact me</a> or open an issue <a href="https://github.com/Xe/x">here</a>.</p>

{{template "footer" .}}
