package main

templ index() {
	<p><img src="/static/aura.webp"/></p>
	<h2>Archive</h2>
	<ul>
		<li><a href="/sleepypony/">Early DJ Sleepypony sets</a></li>
		<li><a href="/BronyRadio/">Early BronyRadio sets</a></li>
		<li><a href="/var/93252527679639552/">Current PonyvilleFM sets</a></li>
	</ul>
}

templ notFound() {
	<p>The URL you requested could not be found. Please check your URL and hang up to try your call again.</p>
}