@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./static/geist.woff2") format("woff2");
}

@font-face {
  font-family: "Podkova";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url("./static/podkova.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Curly";
  font-style: monospace;
  font-display: swap;
  src: url("./static/iosevka-curly.woff2") format("woff2");
}

main {
  font-family: Geist, sans-serif;
  max-width: 50rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0;
  }
}

::selection {
  background: oklch(70.54% 0.0976 2.19);
}

body {
  background: oklch(24.08% 0.0049 219.67);
  color: oklch(96.55% 0.0394 100.86);
}

pre {
  background-color: oklch(34.41% 0.0066 48.52);
  padding: 1em;
  border: 0;
  font-family: Iosevka Curly Iaso, monospace;
}

a,
a:active,
a:visited {
  color: oklch(59.73% 0.1105 352.22);
  background-color: oklch(27.68% 0 0);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.1rem;
  font-family: Podkova, serif;
}

blockquote {
  border-left: 1px solid oklch(75.64% 0.041 82.28);
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

footer {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  body {
    background: oklch(96.55% 0.0394 100.86);
    color: oklch(24.08% 0.0049 219.67);
  }

  pre {
    background-color: oklch(89.41% 0.0566 89.24);
    padding: 1em;
    border: 0;
  }

  a,
  a:active,
  a:visited {
    color: oklch(59.73% 0.1105 352.22);
    background-color: oklch(95.55% 0.0555 96.15);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0.1rem;
  }

  blockquote {
    border-left: 1px solid oklch(48.08% 0.0172 64.07);
    margin: 0.5em 10px;
    padding: 0.5em 10px;
  }
}
