<!DOCTYPE html>
<html>

<head>
    <title>What Day of March 2020 Is It?</title>
    <link rel="stylesheet" href="https://cdn.xeiaso.net/static/pkg/xess/xess.css" />
    <style>
     main {
         text-align: center;
     }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body id="top">
    <main>
        <big>Today is March <big>{{.Day}}</big>, 2020</big>

        <br />
        <br />
        <br />
        <br />

        <p>{{.Quip}}</p>

        <br />
        <br />

        <footer>
            <p>From <a href="https://christine.website">Within</a> - <a
                    href="https://twitter.com/theprincessxena">@theprincessxena</a> - <a
                    href="https://github.com/Xe/x/tree/master/cmd/todayinmarch2020">Source Code</a></p>
        </footer>
    </main>
</body>

</html>
