name: Reviewbot

on:
  pull_request_review_comment:
    types: [created]
  pull_request:
    types: [opened]

jobs:
  manual_invocation:
    if: |
      contains(github.event.comment.body, ' /reviewbot') ||
      startsWith(github.event.comment.body, '/reviewbot') ||
      contains(github.event.comment.body, ' /review') ||
      startsWith(github.event.comment.body, '/review') ||
      contains(github.event.comment.body, 'Reviewbot-request: yes')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-tags: true
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: stable
      - name: Run reviewbot
        run: |
          go run ./cmd/reviewbot
        env:
          OPENAI_API_BASE: https://zohar.automuse.art/v1
          OPENAI_API_KEY: ${{ secrets.ZOHAR_API_KEY }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
